            /* Small resets */
            
            html,
            body,
            form {
                padding: 0px;
                margin: 0px;
                height: 100%;
                width: 100%;
            }
            /* Main elements */
            
            body {
                background-size: cover;
                font-family: var(--fonts-normal-text);
                font-size: 14px;
                font-weight: 400;
                color: var(--colors-text-light);
                overflow: hidden;
                width: 100%;
                background-color: black;
            }
            /* Other elements */
            
            #mainmenu {
                width: 25%;
                height: 100%;
                position: absolute;
                top: 0px;
                background-color: white;
                background-repeat: no-repeat;
                background-size: 100%;
            }
            
            canvas {
                border: 1px solid black;
                margin: 5px 5px;
            }
            /*Scaling webpage */
            
            @media only screen and (min-width: 1000px) {
                #mainmenu {
                    background-size: 20%;
                    margin: 5% 40%;
                }
                @media only screen and (max-width: 999px) and (min-width: 500px) {
                    #mainmenu {
                        background-size: 30%;
                        margin: 5% 35%;
                    }
                }
            }